{{ define "title" }}
tranxxeno lab notepad
{{ end }}

{{- define "main" -}}

<div class="container p-5 wow fadeIn white">
    <section class="text-center dark-grey-text mb-5">
        <h2 class="font-weight-bold mb-2 pb-2 notepad-title">Notepad</h2>
    </section>

    <div class="row">
        <div class="offset-md-2 col-md-8 mb-2 pb-2">
            <p class="notepad-heading">A space for shorter writings about ongoing activities of the tranxxeno lab.</p>
        </div>
    </div>

    {{ $pages := where .Site.Pages "Type" "notepad" }}
    {{ $pages := $pages | intersect (where .Site.Pages "Params.title" "!=" nil) }}
    {{ range ($pages.ByParam "lastmod").Reverse }}

    <div class="row">
        <div class="col-12 col-md-4">
            <p class="mb-md-0 notepad-name">{{ .Title }}</p>
        </div>
        <div class="col-12 col-md-8">
            <p class="dark-grey-text mb-md-0 notepad-description">{{ .Description }}.</p>
            <p class="mb-md-0 notepad-description"><a href="{{ .RelPermalink }}">read more...</a></p>
        </div>

    </div>

    {{ end }}
</div>


{{- end -}}
