{{ define "title" }}
tranxxeno lab projects
{{ end }}

{{- define "main" -}}

<div class="container-fluid my-5 wow fadeIn">
    {{ $pages := where .Site.Pages "Type" "projects" }}
    {{ $pages := $pages | intersect (where .Site.Pages "Params.title" "!=" nil) }}
    <div class="row">
        {{ range ($pages.ByParam "lastmod").Reverse }}
        <div class="col-12 col-md-4 col-lg-6 no-padding">
            <div class="portfolio-content">
                <figure>
                    {{ range first 1 (.Resources.Match (printf "images/%s" .Params.image)) }}
                    <img class="img-fluid" src="{{ .RelPermalink }}" alt="{{ .Title }}" />
                    {{ end }}
                </figure>
                <div class="entry-content d-flex flex-column align-items-center justify-content-center rgba-white-strong">
                    <h3><a href="{{ .RelPermalink }} " class="link">{{ .Title }}</a></h3>
                    <p class="grey-text">{{ .Params.tagline }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{- end -}}
