{{ define "title" }}
{{ .Title }} || tranxxeno lab projects
{{ end }}

{{- define "main" -}}

<div class="container p-5 wow fadeIn white">

    <!-- Grid row -->
    <div class="row">

        <div class="col-12 col-md-2">

        </div>

        <div class="col-12 col-md-8">
            {{ .Content}}
        </div>

        <div class="col-12 col-md-2">

        </div>

    </div>
</div>


{{- end -}}
