{{ define "title" }}
tranxxeno lab writings
{{ end }}

{{- define "main" -}}

<div class="container p-5 wow fadeIn white">
    <section class="text-center dark-grey-text mb-5">
        <h2 class="font-weight-bold mb-2 pb-2 writings-title">Writings</h2>
    </section>

    {{ $pages := where .Site.Pages "Type" "writings" }}
    {{ $pages := $pages | intersect (where .Site.Pages "Params.title" "!=" nil) }}
    {{ range ($pages.ByParam "lastmod").Reverse }}

    <div class="row">
        <div class="col-12 col-md-4">
            <p class="mb-md-0 writings-name">{{ .Title }}</p>
        </div>
        <div class="col-12 col-md-8">
            <p class="dark-grey-text mb-md-0 writings-description">{{ .Description }}.</p>
            <p class="mb-md-0 writings-description"><a href="{{ .RelPermalink }}">read more...</a></p>
        </div>

    </div>

    {{ end }}
</div>


{{- end -}}
