{{ define "title" }}
{{ .Title }} || tranxxeno lab writings
{{ end }}

{{- define "main" -}}

<div class="container p-5 wow fadeIn white">

    <!-- Grid row -->
    <div class="row">

        <div class="col-12 col-md-2">

        </div>

        <div class="col-12 col-md-8">
            <h2 class="black-text people-name">{{ .Title }}</h2>
            <p class="black-text text-bold people-description">{{ .Params.description }}</p>
            {{ if .Params.inProgress }}
            <p><em>In progress</em></p>
            {{ else }}
            <p>{{ .Params.publicationYear }}</p>
            {{ end }}
            <p class="card-title grey-text font-small mt-3 mb-2">{{ .Content}}</p>
        </div>

        <div class="col-12 col-md-2">

        </div>

    </div>
</div>


{{- end -}}
