h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans", "Source Sans Pro", sans-serif;
    font-weight: bold;
}

a.logo img {
    width: 14rem;
}

.nav-item {
    font-weight: bold;
}

.news-title, .people-title, .people-name, .people-description, .about-title, .writings-title, .notepad-title, .people-website, .people-email {
    font-family: "PT Sans", sans-serif;
}

.people-name, .people-description, .about-title, .notepad-title, .writings-title, .notepad-heading {
    font-weight: bold;
}


.news-date, .writings-name, .notepad-name {
    font-family: "PT Sans", sans-serif;
    text-align: right;
    font-weight: bold;
}

figcaption p {
    font-size: 0.9em;
    font-style: italic;
}

a {
    color: #eb008b;
}

a:hover {
    color: #eb008b;
    text-decoration: underline;
}


div.content a.button, nav#menu a.button {
    display: none;
}

		#header .logo {
			border: 0;
			display: inline-block;
			font-size: 0.8em;
			height: inherit;
			line-height: inherit;
			padding: 0 1.5em;
		}

div.jumbotron h1 {
    font-weight: bolder;
    border-bottom: 5px solid white;
}

header div.jumbotron {
    background-size: cover;
}

div.jumbotron p.subtitle {
    text-transform: uppercase;
}

strong {
    font-weight: bold;
}

.portfolio-content {
    margin-bottom: 15px;
}

.portfolio-content figure {
    margin: 0;
}


.portfolio-content {
    position: relative;
    margin-bottom: 30px;
}

.portfolio-content figure {
    margin: 0;
}

.portfolio-content figure img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
}


.portfolio-content .entry-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s;
}

.portfolio-content:hover .entry-content {
    visibility: visible;
    opacity: 1;
}

.portfolio-content h3 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid #000;
}

.home-page .portfolio-content h3 {
    font-size: 2.25rem;
}

.portfolio-content h3 a {
    color: #191919;
    text-decoration: none;
}

