<!DOCTYPE html>
<html lang="{{.Site.Language.Lang }}">
    <head>
    <meta charset="utf-8">
    {{- partial "seo_schema" . -}}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{- partial "head.html" . -}}
    </head>
    <body>
        {{- partial "header_navonly.html" . -}}
        <main role="main">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- partial "js.html" . -}}
    </body>
</html>
