{{ define "title" }}
tranxxeno lab news
{{ end }}

{{- define "main" -}}

<div class="container p-5 wow fadeIn white">
    <section class="text-center dark-grey-text mb-5">
        <h2 class="font-weight-bold mb-2 pb-2 news-title">News</h2>
    </section>

    {{ $pages := where .Site.Pages "Type" "news" }}
    {{ $pages := $pages | intersect (where .Site.Pages "Params.title" "!=" nil) }}
    {{ range ($pages.ByParam "lastmod").Reverse }}

    <div class="row">
        <div class="col-12 col-md-4">
            <p class="grey-text news-date">{{ dateFormat "Monday, 2 January 2006" .Params.lastmod }} at {{ dateFormat "15:04:05" .Params.lastmod }}</p>
        </div>
        <div class="col-12 col-md-8">
            <p class="grey-text mb-md-0 news-content">{{ .Content }}</p>
        </div>

    </div>

    {{ end }}
</div>


{{- end -}}
