{{ define "title" }}
tranxxeno lab people
{{ end }}

{{- define "main" -}}

<div class="container p-5 wow fadeIn white">
    <section class="text-center dark-grey-text mb-5">
        <h2 class="font-weight-bold mb-2 pb-2 people-title">Laboratory Members</h2>
    </section>

    {{ $pages := where .Site.Pages "Type" "people" }}
    {{ $pages := $pages | intersect (where .Site.Pages "Params.title" "!=" nil) }}

    <!-- Grid row -->
    <div class="row">

    {{ range $pages.ByParam "lastmod" }}
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

        <!-- Card -->
        <div class="card hoverable">

            <!-- Card image -->
            {{ $personLink := .RelPermalink }}
            {{ range .Resources.Match "images/headshot.jpg" }}
            <a href="{{ $personLink }}"><img class="card-img-top image-fluid" src="{{ .RelPermalink }}" alt="{{ .Title }}"></a>
            {{ end }}

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <p class="black-text people-name">{{ .Title }}</p>
                <p class="black-text text-bold people-description">{{ .Params.description }}</p>
                <!-- Text -->
                <p class="card-title grey-text font-small mt-3 mb-2">{{ .Summary }}</p>
						
                <p><a href="{{ .RelPermalink }}" title="More about {{ .Title }}">Read more...</a></p>
            
            </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

    {{ end }}
</div>


{{- end -}}
