{{ define "title" }}
{{ .Title }} || tranxxeno lab people
{{ end }}

{{- define "main" -}}

<div class="container p-5 wow fadeIn white">

    <!-- Grid row -->
    <div class="row">

        <div class="col-12 col-md-4">
            {{ range .Resources.Match "images/headshot.jpg" }}
            <img class="card-img-top image-fluid" src="{{ .RelPermalink }}" alt="{{ .Title }}">
            {{ end }}
        </div>

        <div class="col-12 col-md-8">
            <h2 class="black-text people-name">{{ .Title }}</h2>
            <p class="black-text text-bold people-description">{{ .Params.description }}</p>
            {{ if .Params.website }}
            <p class="black-text text-bold people-website"><a href="{{ .Params.website}}" title="Website for {{ .Title }}" target="_blank">{{ .Params.website }}</a></p>
            {{ end }}

            {{ if .Params.email }}
            <p class="black-text text-bold people-email"><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
            {{ end }}
           
            <!--
            {{ if .Params.social.twitter }}
            <p class="black-text text-bold people-email"><a href="https://twitter.com/{{ .Params.social.twitter }}" target="_blank" title="Find {{ .Title }} on Twitter">@{{ .Params.social.twitter }}</a> on Twitter</p>
            {{ end }}

            {{ if .Params.social.instagram }}
            <p class="black-text text-bold people-email"><a href="https://instagram.com/{{ .Params.social.instagram }}" target="_blank" title="Find {{ .Title }} on Instagram">@{{ .Params.social.instagram }}</a> on Instagram</p>
            {{ end }}
            -->


            <p class="card-title grey-text font-small mt-3 mb-2">{{ .Content}}</p>
        </div>
    </div>
</div>


{{- end -}}
