{{ define "title" }}
About the tranxxeno lab
{{ end }}

{{- define "main" -}}

<div class="container p-5 wow fadeIn white">

    <!-- Grid row -->
    <div class="row">
        <div class="col-12 col-md-2">

        </div>

        <div class="col-12 col-md-8">
            <h2 class="black-text text-center about-title">{{ .Title }}</h2>
            <p class="black-text text-bold people-description">{{ .Params.description }}</p>
            <p class="card-title grey-text font-small mt-3 mb-2">{{ .Content}}</p>
        </div>

        <div class="col-12 col-md-2">

        </div>

    </div>
</div>



<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 black-text about-title">contact the tranxxenolab</h3>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Please fill out the form to reach out to us. We welcome interlocution with all xenoentities.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5">

        <form method="POST" action="https://formspree.io/maynlgvb">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" name="name" id="name" class="form-control">
                <label for="name" class="">Your name</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" name="_replyto" id="_replyto" class="form-control">
                <label for="_replyto" class="">Your email</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" name="_subject" id="_subject" class="form-control">
                <label for="_subject" class="">Subject</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea name="message" id="message" class="form-control md-textarea" rows="3"></textarea>
                <label for="message">Your message</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
            <div class="text-center text-md-left">
                <button class="btn btn-primary btn-md btn-rounded" type="submit">Send</button>
            </div>

        </form>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fas fa-envelope fa-2x mt-4 blue-text"></i>
            <p class="mb-0">info@tranxxenolab.net</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>

{{- end -}}
